<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenzhen.recurit.dao.PositionUserRelationMapper">

        <resultMap id="baseResultMap" type="com.shenzhen.recurit.vo.PositionUserRelationVO">
            <id column="id" property="id"/>
            <result column="position_id" property="positionId"/>
            <result column="user_code" property="userCode"/>
            <result column="status" property="status"/>
            <result column="follow" property="follow"/>
            <result column="apply" property="apply"/>
            <result column="is_checked" property="isChecked"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="creater" property="creater"/>
            <result column="updater" property="updater"/>
            <result column="is_accept" property="isAccept"/>
            <result column="position_count" property="positionCount"/>
        </resultMap>

        <sql id="baseResult">
            position_id,user_code,status,follow,apply,is_checked,create_date,update_date,creater,updater,is_accept
        </sql>

        <insert id="saveBatchRelation">
            insert into tab_position_user_relation(<include refid="baseResult"/>)
                values
            <foreach collection="relations" item="relation" separator=",">
                (#{relation.positionId},#{relation.userCode},1,#{relation.follow}
                    ,#{relation.apply},1
                ,#{relation.createDate},#{relation.updateDate},#{relation.creater},#{relation.updater},#{relation.isAccept})
            </foreach>
        </insert>

        <select id="getRelationByPostionAndUser" resultMap="baseResultMap">
            select id,<include refid="baseResult"/> from tab_position_user_relation
                where user_code = #{userCode} and status = 1
                    and position_id in
                    <foreach collection="listPositionId" item="positionId" open="(" close=")" separator=",">
                        #{positionId}
                    </foreach>
        </select>

        <update id="deleteBatchRelation">
            update tab_position_user_relation set status =2
            where user_code = #{userCode}  and status = 1
            and position_id in
            <foreach collection="listPositionId" item="positionId" open="(" close=")" separator=",">
                #{positionId}
            </foreach>
        </update>

        <update id="updateRelation">
            update tab_position_user_relation
                <set>
                    <if test="positionId != null and positionId != 0">
                        position_id = #{positionId},
                    </if>
                    <if test="follow != null and follow != 0">
                        follow = #{follow},
                    </if>
                    <if test="apply != null and apply != 0">
                        apply = #{apply},
                    </if>
                    <if test="isChecked != null and isChecked != 0">
                        is_checked = #{isChecked},
                    </if>
                    <if test="isAccept != null and isAccept != 0">
                        is_accept = #{isAccept},
                    </if>
                    updater=#{updater},
                    update_date=#{updateDate}
                </set>
                where id = #{id}
        </update>

        <select id="getRelationByPositionIdAndUserCode" resultMap="baseResultMap">
            select id,<include refid="baseResult"/> from tab_position_user_relation
            where user_code = #{userCode}  and position_id = #{positionId} and status = 1
        </select>

    <insert id="saveRelation" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into tab_position_user_relation(<include refid="baseResult"/>)
        values
            (#{positionId},#{userCode},1,#{follow},#{apply},1
            ,#{createDate},#{updateDate},#{creater},#{updater},#{isAccept})
    </insert>

    <select id="getCountByPosition" resultMap="baseResultMap">
        select position_id,count(1) position_count from tab_position_user_relation
            group by position_id having position_id in
                <foreach collection="positionIds" item="positionId" open="(" close=")" separator=",">
                    #{positionId}
                </foreach>
    </select>

</mapper>
