<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenzhen.recurit.dao.PositionMapper">

        <resultMap id="baseResultMap" type="com.shenzhen.recurit.pojo.PositionPojo">
            <id column="id" property="id"/>
            <result column="salary" property="salary"/>
            <result column="academic_degree" property="academicDegree"/>
            <result column="experience" property="experience"/>
            <result column="company_code" property="companyCode"/>
            <result column="sex_req" property="sexReq"/>
            <result column="position_name" property="positionName"/>
            <result column="position_city" property="positionCity"/>
            <result column="status" property="status"/>
            <result column="creater" property="creater"/>
            <result column="updater" property="updater"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
        </resultMap>

        <sql id="baseResult">
            salary,academic_degree,experience,company_code,sex_req,position_name,position_city,
            creater,updater,create_date,update_date
        </sql>

        <insert id="savePosition" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
            insert into tab_position(<include refid="baseResult"/>)
                values(#{salary},#{academicDegree},#{experience},
                #{companyCode},#{sexReq},#{positionName},#{positionCity},#{creater},#{updater},
                #{createDate},#{updateDate})
        </insert>

        <select id="getByCompanyCode" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_position where company_code = #{companyCode}
        </select>

        <select id="getByPositionId" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_position where id = #{id}
        </select>


</mapper>
