<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenzhen.recurit.dao.PositionMapper">

        <resultMap id="baseResultMap" type="com.shenzhen.recurit.pojo.PositionPojo">
            <id column="id" property="id"/>
            <result column="salary" property="salary"/>
            <result column="education" property="education"/>
            <result column="experience" property="experience"/>
            <result column="company_code" property="companyCode"/>
            <result column="sex_req" property="sexReq"/>
            <result column="position_name" property="positionName"/>
            <result column="position_city" property="positionCity"/>
            <result column="status" property="status"/>
            <result column="creater" property="creater"/>
            <result column="updater" property="updater"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="user_code" property="userCode"/>
            <result column="description" property="description"/>
            <result column="position_address" property="positionAddress"/>
            <result column="skill_requirement" property="skillRequirement"/>
            <result column="location" property="location"/>
            <result column="company_name" property="companyName"/>
            <result column="follow" property="follow"/>
            <result column="apply" property="apply"/>
            <result column="user_id" property="userId"/>
            <result column="user_real_name" property="userRealName"/>
            <result column="financing" property="financing"/>
            <result column="scale" property="scale"/>
        </resultMap>

        <sql id="baseResult">
            salary,education,experience,company_code,sex_req,position_name,position_city,
            creater,updater,create_date,update_date,user_code,description,skill_requirement
            ,position_address,location
        </sql>
        <sql id="baseResultSql">
            t.salary,t.education,t.experience,t.company_code,t.sex_req,t.position_name,t.position_city,
            t.creater,t.updater,t.create_date,t.update_date,t.user_code,t.description,
            t.skill_requirement,t.position_address,t.location
        </sql>

        <insert id="savePosition" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
            insert into tab_position(<include refid="baseResult"/>)
                values(#{salary},#{education},#{experience},
                #{companyCode},#{sexReq},#{positionName},#{positionCity},#{creater},#{updater},
                #{createDate},#{updateDate},#{userCode},#{description}
                ,#{skillRequirement},#{positionAddress},#{location})
        </insert>

        <select id="getByCompanyCode" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_position
                where company_code = #{companyCode} and  user_code = #{userCode} and status = 1 order by update_date desc
        </select>

        <select id="getByPositionId" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_position where id = #{id} and status = 1
        </select>

        <update id="deleteByPositionId">
            update tab_position
            <set>
                status = 2,
                update_date = #{updateDate}
            </set>
                where id = #{id}
        </update>

    <update id="updatePosition">
        update tab_position
        <set>
            <if test="positionName != null and positionName != '' ">
                position_name = #{positionName},
            </if>
            <if test="positionAddress != null and positionAddress != '' ">
                position_address = #{positionAddress},
            </if>
            <if test="positionCity != null and positionCity != '' ">
                position_city = #{positionCity},
            </if>
            <if test="salary != null and salary != '' ">
                salary = #{salary},
            </if>
            <if test="experience != null and experience != '' ">
                experience = #{experience},
            </if>
            <if test="sexReq != null and sexReq != '' ">
                sex_req = #{sexReq},
            </if>
            <if test="userCode != null and userCode != '' ">
                user_code = #{userCode},
            </if>
            <if test="description != null and description != '' ">
                description = #{description},
            </if>
            <if test="skillRequirement != null and skillRequirement != '' ">
                skill_requirement = #{skillRequirement},
            </if>
            <if test="education != null and education != '' ">
                education = #{education},
            </if>
            <if test="status != null and status != '' ">
                status = #{status},
            </if>
            <if test="updater != null and updater != '' ">
                updater = #{updater},
            </if>
            <if test="location != null and location != '' ">
                location = #{location},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getAllPositions"  resultMap="baseResultMap">
        select t.id,t.status,<include refid="baseResultSql"/>,
        c.company_name,p.follow,p.apply,u.id user_id,u.real_name user_real_name,
        c.financing, c.scale from
                tab_position t
                left join (select company_code,company_name,financing,scale from tab_company where status =1) c on t.company_code = c.company_code
                left join (select position_id,user_code,apply,follow from tab_position_user_relation where status =1 and user_code=#{userCode}) p on t.id = p.position_id
                left join (select user_code,id,real_name from tab_user where status =1 ) u on u.user_code=t.user_code
                where t.status = 1
                    <if test="education != null and education != ''">
                       and t.education = #{education}
                    </if>
                    <if test="experience != null and experience != ''">
                        and t.experience = #{experience}
                    </if>
                    <if test="salary != null and salary != ''">
                        and t.salary = #{salary}
                    </if>
                    <if test="financing != null and financing != ''">
                        and c.financing = #{financing}
                    </if>
                    <if test="scale != null and scale != ''">
                        and c.scale = #{scale}
                    </if>
                    <if test="apply != null and apply != 0">
                         and p.apply=#{apply} and p.user_code = #{userCode}
                    </if>
                    <if test="follow != null and follow != 0">
                        and p.follow=#{follow} and p.user_code = #{userCode}
                    </if>
                    <if test="positionName != null and positionName != ''">
                        and (instr(t.position_name,#{positionName})>0
                        or instr(c.company_name,#{positionName})>0
                        or t.id in (select distinct relation_id from tab_label
                        where category = 'position' and instr(label_name,#{positionName})>0))
                    </if>
                    order by t.update_date desc
    </select>

    <select id="getPopularPositions" resultMap="baseResultMap">
        select id,status,<include refid="baseResult"/> from tab_position where status=1
        and id in (SELECT
	        t.position_id
        FROM
	    ( SELECT position_id, count( 1 ) position_num FROM tab_browse_record GROUP BY position_id ) t
        ORDER BY
	    t.position_num) limit 6
    </select>

    <select id="getRecentlyPositions" resultMap="baseResultMap">
        select id,status,<include refid="baseResult"/> from tab_position where status=1
        and id in
            ( SELECT
        t.position_id
        FROM
            ( SELECT position_id, MAX( create_date ) max_time FROM tab_browse_record
                WHERE
                <choose>
                    <when test="userCode != null and userCode != ''">
                        user_code = #{userCode}
                    </when>
                    <otherwise>1=2</otherwise>
                </choose>
                 GROUP BY position_id ) t
        ORDER BY
            t.max_time DESC
        ) LIMIT 4
    </select>

    <select id="statisticsAllPositions" resultType="int">
        select count(1) from tab_position where status =1
    </select>

    <select id="getBulletinBoardPosition" resultMap="baseResultMap">
        select p.id,u.real_name user_real_name,p.position_name from tab_position p
         left join tab_user u on p.user_code = p.user_code where p.status =1
            <choose>
                <when test="pageNo >0 and pageSize >0">
                   and LIMIT #{pageNo},#{pagesize}
                </when>
                <otherwise>
                    and 1=1
                </otherwise>
            </choose>
    </select>
</mapper>
