<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenzhen.recurit.dao.SocialSecurityInfoMapper">

        <resultMap id="baseResultMap" type="com.shenzhen.recurit.pojo.SocialSecurityInfoPojo">
            <id column="id" property="id"/>
            <result column="city_id" property="cityId"/>
            <result column="apply_name" property="applyName"/>
            <result column="id_card" property="idCard"/>
            <result column="positive_id_card" property="positiveIdCard"/>
            <result column="reverse_id_card" property="reverseIdCard"/>
            <result column="phone" property="phone"/>
            <result column="domicile" property="domicile"/>
            <result column="nature_regist" property="natureRegist"/>
            <result column="cardinality" property="cardinality"/>
            <result column="social_security_date" property="socialSecurityDate"/>
            <result column="social_security_end_date" property="socialSecurityEndDate"/>
            <result column="fee_package_ids" property="feePackageIds"/>
            <result column="status" property="status"/>
            <result column="order_info_id" property="orderInfoId"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="creater" property="creater"/>
            <result column="updater" property="updater"/>
            <result column="amount" property="amount"/>
            <result column="user_code" property="userCode"/>
            <result column="count_money" property="countMoney"/>
            <result column="social_security_price" property="socialSecurityPrice"/>
        </resultMap>

        <resultMap id="baseIncludeChildrenResultMap" type="com.shenzhen.recurit.pojo.SocialSecurityInfoPojo">
            <id column="id" property="id"/>
            <result column="city_id" property="cityId"/>
            <result column="apply_name" property="applyName"/>
            <result column="id_card" property="idCard"/>
            <result column="positive_id_card" property="positiveIdCard"/>
            <result column="reverse_id_card" property="reverseIdCard"/>
            <result column="phone" property="phone"/>
            <result column="domicile" property="domicile"/>
            <result column="nature_regist" property="natureRegist"/>
            <result column="cardinality" property="cardinality"/>
            <result column="social_security_date" property="socialSecurityDate"/>
            <result column="social_security_end_date" property="socialSecurityEndDate"/>
            <result column="fee_package_ids" property="feePackageIds"/>
            <result column="status" property="status"/>
            <result column="order_info_id" property="orderInfoId"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="creater" property="creater"/>
            <result column="updater" property="updater"/>
            <result column="amount" property="amount"/>
            <result column="user_code" property="userCode"/>
            <result column="count_money" property="countMoney"/>
            <result column="social_security_price" property="socialSecurityPrice"/>
            <result column="pay_status" property="payStatus"/>
            <association javaType="com.shenzhen.recurit.pojo.SocialStandardPojo" property="socialStandardPojo">
                <result column="city" property="city"/>
                <result column="low_cardinality" property="lowCardinality"/>
                <result column="hight_cardinality" property="hightCardinality"/>
                <result column="enterprise_pension" property="enterprisePension"/>
                <result column="person_pension" property="personPension"/>
                <result column="enterprise_medical" property="enterpriseMedical"/>
                <result column="person_medical" property="personMedical"/>
                <result column="enterprise_unemployment" property="enterpriseUnemployment"/>
                <result column="person_unemployment" property="personUnemployment"/>
                <result column="enterprise_injury" property="enterpriseInjury"/>
                <result column="person_injury" property="personInjury"/>
                <result column="enterprise_childbirth" property="enterpriseChildbirth"/>
                <result column="person_childbirth" property="personChildbirth"/>
                <result column="disability_insurance" property="disabilityInsurance"/>
            </association>
        </resultMap>

        <sql id="baseResult">
            city_id,apply_name,id_card,positive_id_card,reverse_id_card,phone,
            domicile,nature_regist,cardinality,social_security_date,fee_package_ids,
            create_date,update_date,creater,updater,order_info_id,social_security_end_date,
            user_code,count_money,social_security_price
        </sql>

        <insert id="saveSocialSecurityInfo" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
            insert into tab_social_security_info(<include refid="baseResult"/>)
                values(#{cityId},#{applyName},#{idCard},
                #{positiveIdCard},#{reverseIdCard},#{phone},
                #{domicile},#{natureRegist},#{cardinality},
                #{socialSecurityDate},#{feePackageIds},
                #{createDate},#{updateDate},#{creater},#{updater},#{orderInfoId},#{socialSecurityEndDate},
                #{userCode},#{countMoney},#{socialSecurityPrice})
        </insert>
    
        <update id="updateSocialSecuritInfo">
            update tab_social_security_info
                <set>

                    <if test="cityId != null and cityId != 0">
                        city_id = #{cityId},
                    </if>
                    <if test="applyName != null and applyName != ''">
                        apply_name = #{applyName},
                    </if>
                    <if test="idCard != null and idCard != ''">
                        id_card = #{idCard},
                    </if>
                    <if test="positiveIdCard != null and positiveIdCard != 0">
                        positive_id_card = #{positiveIdCard},
                    </if>
                    <if test="reverseIdCard != null and reverseIdCard != 0">
                        reverse_id_card = #{reverseIdCard},
                    </if>
                    <if test="phone != null and phone != ''">
                        phone = #{phone},
                    </if>
                    <if test="domicile != null and domicile != ''">
                        domicile = #{domicile},
                    </if>
                    <if test="natureRegist != null and natureRegist != ''">
                        nature_regist = #{natureRegist},
                    </if>
                    <if test="cardinality != null and cardinality != 0">
                        cardinality = #{cardinality},
                    </if>
                    <if test="socialSecurityDate != null">
                        social_security_date = #{socialSecurityDate},
                    </if>
                    <if test="feePackageIds != null and feePackageIds != ''">
                        fee_package_ids = #{feePackageIds},
                    </if>
                    <if test="orderInfoId != null and orderInfoId != 0">
                        order_info_id = #{orderInfoId},
                    </if>
                    <if test="socialSecurityEndDate != null">
                        social_security_end_date = #{socialSecurityEndDate},
                    </if>
                    <if test="countMoney != null and countMoney != 0">
                        count_money = #{countMoney},
                    </if>
                    <if test="socialSecurityPrice != null and socialSecurityPrice != 0">
                        social_security_price = #{socialSecurityPrice},
                    </if>
                    update_date=#{updateDate},
                    updater=#{updater}
                </set>
        </update>

        <select id="getSocialSecuritInfoById" resultMap="baseIncludeChildrenResultMap">
            select t.id,t.status,t.city_id,t.apply_name,t.id_card,t.positive_id_card,t.reverse_id_card,t.phone,
            t.domicile,t.nature_regist,t.cardinality,t.social_security_date,t.fee_package_ids,
            t.create_date,t.update_date,t.creater,t.updater,t.order_info_id,t.social_security_end_date,
            t.count_money,t.social_security_price,
            s.city,s.low_cardinality,s.hight_cardinality,
            s.enterprise_pension,s.person_pension,s.enterprise_medical,s.person_medical,
            s.enterprise_unemployment,s.person_unemployment,s.enterprise_injury,s.person_injury,
            s.enterprise_childbirth,s.person_childbirth,s.disability_insurance
             from tab_social_security_info t left join  tab_social_standard s on t.city_id=s.id where t.id=#{id} and t.status =1
        </select>

        <update id="deleteSecuritInfoById">
            update tab_social_security_info set status=2 where id=#{id}
        </update>

        <select id="getAllSocialSecuritInfoByIds" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_social_security_info where  status =1
                id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
        </select>

        <update id="batchUpdateSocialSecuritInfo">
            update tab_social_security_info set order_info_id =#{orderInfoId}
            where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </update>

        <update id="deleteByOrderInfoId">
            update tab_social_security_info set status=2 where order_info_id=#{orderInfoId}
        </update>

        <select id="getAllSecuritInfo"  resultMap="baseIncludeChildrenResultMap">
            select t.id,t.status,t.city_id,t.apply_name,t.id_card,t.positive_id_card,t.reverse_id_card,t.phone,
            t.domicile,t.nature_regist,t.cardinality,t.social_security_date,t.fee_package_ids,
            t.create_date,t.update_date,t.creater,t.updater,t.order_info_id,t.social_security_end_date,
            t.count_money,t.social_security_price,
            s.city,s.low_cardinality,s.hight_cardinality,
            s.enterprise_pension,s.person_pension,s.enterprise_medical,s.person_medical,
            s.enterprise_unemployment,s.person_unemployment,s.enterprise_injury,s.person_injury,
            s.enterprise_childbirth,s.person_childbirth,s.disability_insurance
                from tab_social_security_info t left join tab_social_standard s on s.id=t.city_id
                where  t.user_code=#{userCode} and t.status =1 and 1 > t.order_info_id
        </select>

        <update id="batchRemoveOrderInfoIds">
            update tab_social_security_info set order_info_id=0
            where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </update>

        <select id="getAllSecuritInfoByOrderInfoId"  resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_social_security_info where   order_info_id = #{orderInfoId} and status =1
        </select>

        <select id="getAllSecuritInfoByIdCard" resultMap="baseResultMap">
            select id,status,<include refid="baseResult"/> from tab_social_security_info where   id_card = #{idCard} and status =1
        </select>

        <select id="getAllSecurityByOrderInfoId" resultMap="baseIncludeChildrenResultMap">
            select t.id,t.status,t.city_id,t.apply_name,t.id_card,t.positive_id_card,t.reverse_id_card,t.phone,
            t.domicile,t.nature_regist,t.cardinality,t.social_security_date,t.fee_package_ids,
            t.create_date,t.update_date,t.creater,t.updater,t.order_info_id,t.social_security_end_date,
            t.count_money,t.social_security_price,
            s.city,s.low_cardinality,s.hight_cardinality,
            s.enterprise_pension,s.person_pension,s.enterprise_medical,s.person_medical,
            s.enterprise_unemployment,s.person_unemployment,s.enterprise_injury,s.person_injury,
            s.enterprise_childbirth,s.person_childbirth,s.disability_insurance
                from tab_social_security_info t left join tab_social_standard s on s.id=t.city_id
                where  t.user_code=#{userCode} and t.status =1 and  t.order_info_id = #{orderInfoId}
        </select>

        <select id="getSecuritInfos" resultMap="baseIncludeChildrenResultMap">
            SELECT
                t.id,
                t.STATUS,
                t.city_id,
                t.apply_name,
                t.id_card,
                t.positive_id_card,
                t.reverse_id_card,
                t.phone,
                t.domicile,
                t.nature_regist,
                t.cardinality,
                t.social_security_date,
                t.fee_package_ids,
                t.create_date,
                t.update_date,
                t.creater,
                t.updater,
                t.order_info_id,
                t.social_security_end_date,
                t.count_money,
                t.social_security_price,
                s.city,
                s.low_cardinality,
                s.hight_cardinality,
                s.enterprise_pension,
                s.person_pension,
                s.enterprise_medical,
                s.person_medical,
                s.enterprise_unemployment,
                s.person_unemployment,
                s.enterprise_injury,
                s.person_injury,
                s.enterprise_childbirth,
                s.person_childbirth,
                s.disability_insurance,
                o.pay_status
                from tab_social_security_info t
                LEFT JOIN tab_social_standard s ON s.id = t.city_id
                LEFT JOIN tab_order_info o ON o.id = t.order_info_id
            WHERE
                t.STATUS = 1
            ORDER BY
                t.create_date
        </select>


</mapper>
