<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenzhen.recurit.dao.UserMapper">

        <resultMap id="baseResultMap" type="com.shenzhen.recurit.vo.UserVO">
            <id column="id" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="real_name" property="realName"/>
            <result column="phone" property="phone"/>
            <result column="fixed_phone" property="fixedPhone"/>
            <result column="email" property="email"/>
            <result column="password" property="password"/>
            <result column="contactser" property="contactser"/>
            <result column="role_num" property="roleNum"/>
            <result column="role_content" property="roleContent"/>
            <result column="role_name" property="roleName"/>
            <result column="sex" property="sex"/>
            <result column="age" property="age"/>
            <result column="birth" property="birth"/>
            <result column="create_date" property="createDate"/>
            <result column="update_date" property="updateDate"/>
            <result column="nick_name" property="nickName"/>
            <result column="status" property="status"/>
            <result column="company_code" property="companyCode"/>
            <result column="user_code" property="userCode"/>
            <result column="like_job" property="likeJob"/>
        </resultMap>

        <resultMap id="baseResultMapPojo" type="com.shenzhen.recurit.pojo.UserPojo">
            <result column="user_name" property="userName"/>
            <result column="phone" property="phone"/>
            <result column="email" property="email"/>
        </resultMap>

        <sql id="baseResult">
            user_name,real_name,phone,fixed_phone,email,password,contactser,
                role_num,sex,age,birth,create_date,update_date,nick_name,company_code,user_code,like_job
        </sql>
        <sql id="preBaseResult">
            t.user_name,t.real_name,t.phone,t.fixed_phone,t.email,t.password,t.contactser,
                t.role_num,t.sex,t.age,t.birth,t.create_date,t.update_date,
                t.nick_name,t.status,t.company_code,t.user_code,t.like_job
        </sql>

        <select id="getUserByEmail" resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
                left join tab_dictionary d on t.role_num=d.dict_num where t.email = #{email} and t.status = 1 limit 1
        </select>

        <select id="getUserByPhone" resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
            left join tab_dictionary d on t.role_num=d.dict_num where t.phone = #{phone} and t.status = 1 limit 1
        </select>

        <select id="getUserByName" resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
            left join tab_dictionary d on t.role_num=d.dict_num where t.user_name = #{userName} and t.status = 1 limit 1
        </select>

        <select id="getUserByNameOrEmailOrPhone" resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
            left join tab_dictionary d on t.role_num=d.dict_num where t.status = 1 and
                (t.user_name = #{userName}  or t.email = #{userName} or t.phone = #{userName}) limit 1
        </select>

        <insert id="addUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
            insert into tab_user(<include refid="baseResult"/>)
                values(#{userName},#{realName},#{phone},#{fixedPhone},#{email},#{password},#{contactser},
                        #{roleNum},#{sex},#{age},#{birth},#{createDate},#{updateDate}
                        ,#{nickName},#{companyCode},#{userCode},#{likeJob})
        </insert>

        <select id="getUserByNameAndPass" resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
            left join tab_dictionary d on t.role_num=d.dict_num where t.status = 1  and t.password = #{password}
             and (t.user_name = #{userName} or t.phone=#{userName} or t.email=#{userName})limit 1
        </select>

        <select id="getUserById"  resultMap="baseResultMap">
            select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
            left join tab_dictionary d on t.role_num=d.dict_num where t.id = #{id} and t.status = 1
        </select>

    <update id="updateUser">
        update tab_user
        <set>
            <if test="userName != null and userName != '' ">
                user_name = #{userName},
            </if>
            <if test="realName != null and realName != '' ">
                real_name = #{realName},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone},
            </if>
            <if test="fixedPhone != null and fixedPhone != '' ">
                fixed_phone = #{fixedPhone},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="password != null and password != '' ">
                password = #{password},
            </if>
            <if test="contactser != null and contactser != '' ">
                contactser = #{contactser},
            </if>
            <if test="roleNum != null and roleNum != '' ">
                role_num = #{roleNum},
            </if>
            <if test="age != null and age != 0 ">
                age = #{age},
            </if>
            <if test="sex != null and sex != '' ">
                sex = #{sex},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="companyCode != null and companyCode != ''">
                company_code = #{companyCode},
            </if>
            <if test="likeJob != null and likeJob != ''">
                like_job = #{likeJob},
            </if>
                update_date = #{updateDate}
        </set>
            where id = #{id}
    </update>

    <select id="getUserCode" resultMap="baseResultMap">
        select d.dict_name role_name,d.content role_content,t.id,<include refid="preBaseResult"/> from tab_user t
        left join tab_dictionary d on t.role_num=d.dict_num where t.user_code = #{userCode}
        and t.status = 1 limit 1
    </select>

    <select id="getUserByNameAndPhoneAndEmail" resultMap="baseResultMapPojo">
        select user_name,phone,email from tab_user where
        user_name  in <foreach collection="listName" item="name" separator="," open="(" close=")"> #{name} </foreach>
        or phone  in <foreach collection="listPhone" item="phone" separator="," open="(" close=")"> #{phone} </foreach>
        or email  in <foreach collection="listEmail" item="email" separator="," open="(" close=")"> #{email} </foreach>
    </select>

    <insert id="batchSaveUserInfo">
        insert into tab_user(user_name,real_name,phone,fixed_phone,email,password,contactser,
        role_num,sex,age,birth,create_date,update_date,nick_name,company_code,user_code,like_job) values
            <foreach collection="listUser" item="user" separator=",">
                (#{user.userName},#{user.realName},#{user.phone},#{user.fixedPhone},#{user.email},#{user.password},#{user.contactser},
                #{user.roleNum},#{user.sex},#{user.age},#{user.birth},#{user.createDate},#{user.updateDate},#{user.nickName},#{user.companyCode},#{user.userCode},#{user.likeJob})
            </foreach>
    </insert>

    <select id="getAllIsNotPosition" resultMap="baseResultMap">
        SELECT
	    <include refid="baseResult"/>
        FROM
            tab_user
        WHERE
            user_code IN ( SELECT DISTINCT user_code FROM tab_position_user_relation WHERE STATUS = 1 )
            AND role_num = 'ROLE0002'
    </select>

</mapper>
